form {
  box-shadow: 0.5px 0.5px 0.5px 0.5px black;
  padding: 15px;
}
.city-input {
  background-color: #f3f3f3;
  border-radius: 3px;
  margin: 5px;
  width: 80%;
  height: 30px;
}
.arrival-input {
  background-color: #f3f3f3;
  width: 65%;
  height: 20px;
  border-radius: 3px;
}
.inputs-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.tes-div {
  display: flex;
  gap: 30px;
  padding: 15px;
}
