.home-con {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 25px;
  background: #fff;
  padding: 20px;
}
.tropical-head {
  font-size: 15px;
}
.tropical-para {
  font-size: 10px;
}
.list-items {
  font-size: 10px;
}
.round {
  margin-left: 80px;
  width: 30%;
}
.explore-btn {
  display: flex;
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 30px;
  background: #f27a44;
  color: white;
}

@media (min-width: 767px) {
  .tropical-head {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .list-items {
    font-size: 20px;
    font-weight: 60px;
  }
  .tropical-para {
    font-size: 30px;
  }
  .explore-btn {
    padding: 16px 50px;

    gap: 16px;
  }
}
